@model List<Car>;

@{
    var cars = Model;
}

@{
    void RenderTableBody()
    {
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">HtmlDescription</th>
                <th scope="col">Usage Duration</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < cars.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@cars[i].Name</td>
                    <td>
                        <figure>
                            <img src="@cars[i].Image" alt="@cars[i].Name" />
                            <figcaption>@cars[i].Name</figcaption>
                        </figure>
                    </td>
                    <td>@Html.Raw(cars[i].HtmlDescription)</td>
                    <td>@cars[i].Duration</td>
                    @* <td><a href="/cars/getdetails?carModel=@cars[i].Model&source=@Source.table">Details</a></td> *@
                </tr>
            }
        </tbody>
    }
}

<table class="table">
    @{
        RenderTableBody();
    }
</table>

@{
    void RenderListBody()
    {
        @foreach (var car in cars)
        {
            <li class="list-group-item">
                <p>@car.Name</p>
                <figure>
                    <img src="@car.Image" alt="@car.Name" />
                    <figcaption>@car.Name</figcaption>
                </figure>
                <p>@Html.Raw(car.HtmlDescription)</p>
                <p>@car.Duration</p>
                @* Details: <a href="/cars/getdetails?carModel=@car.Model&source=@Source.list">Details</a> *@
            </li>
        }
    }
}

<ul class="list-group list-group-flush">
    @{
        RenderListBody();
    }
</ul>


