@model List<Car>;

@{
    var cars = Model;
}

@{
    void RenderTableBody()
    {
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">HtmlDescription</th>
                <th scope="col">Usage Duration</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < cars.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@cars[i].Model from @cars[i].Manufacturer</td>
                    <td>
                        <figure>
                            <img src="@cars[i].Image" alt="@cars[i].Model From @cars[i].Manufacturer" />
                            <figcaption>@cars[i].Model From @cars[i].Manufacturer</figcaption>
                        </figure>
                    </td>
                    <td>@Html.Raw(cars[i].HtmlDescription)</td>
                    <td>@(DateTime.Now.Year - cars[i].FirstUseDate.Year)</td>
                    <td><a href="/cars/getdetails?carModel=@cars[i].Model&source=table">Details</a></td>
                </tr>
            }
        </tbody>
    }
}

<table class="table">
    @{
        RenderTableBody();
    }
</table>

@{
    void RenderListBody()
    {
        @foreach (var car in cars)
        {
            <li class="list-group-item">
                <p>Name: @car.Model from @car.Manufacturer</p>
                Image: <figure>
                    <img src="@car.Image" alt="@car.Model From @car.Manufacturer" />
                    <figcaption>@car.Model From @car.Manufacturer</figcaption>
                </figure>
                <p>HtmlDescription: @Html.Raw(car.HtmlDescription)</p>
                <p>Usage Duration: @(DateTime.Now.Year - car.FirstUseDate.Year)</p>
                Details: <a href="/cars/getdetails?carModel=@car.Model&source=list">Details</a>
            </li>
        }
    }
}

<ul class="list-group list-group-flush">
    @{
        RenderListBody();
    }
</ul>


