@model Car;

@{
    var car = Model;
}

<div>
    <p>Name: @car.Model from @car.Manufacturer</p>
    Image: <figure>
            <img src="@car.Image" alt="@car.Model From @car.Manufacturer" />
            <figcaption>@car.Model From @car.Manufacturer</figcaption>
    </figure>
    <p>Usage Duration: @(DateTime.Now.Year - car.FirstUseDate.Year)</p>
</div>
